* {
	box-sizing: border-box;
}

:root {
	font-family: Arial, Helvetica, sans-serif;
}

body {
	display: flex;
	gap: 2rem;
	flex-direction: column;
	min-height: 100vh;
	padding: 0;
	margin: 0;
}

body > * {
	flex: 1;
}

h1 {
	color: rebeccapurple;
}

ul {
	list-style: none;
	padding: 0;
}

li {
	margin-bottom: 1rem;
}

a {
	color: rebeccapurple;
}

a:hover {
	color: rgb(59, 30, 88);
}
